{% block content %}
<h1>Team</h1>
<ul>
    <table border="1" style="width:50%">
            <tr>
                <th>League</th>
                <th>Team</th>
            </tr>
                {% for league in object_list %}
                    {% for team in league.team_set.all %}

                    <tr>
                        <td>{{ league }}</td>
                        <td>{{ team }} (<a href="{% url "team-edit" pk=team.id %}">edit</a>)/(<a href="{% url "delete-team" pk=team.id %}">delete</a>)</td>
                    </tr>

                    {% endfor %}
                {% endfor %}
        </table>
</ul>
{% endblock %}

{% if team.id %}
<h1>Edit Team</h1>
{% else %}
<h1>Add Team</h1>
<a href="{% url "team-new" %}">add team</a>
{% endif %}

<form action="{{ action }}" method="POST">